* {
    -bg: #f3f6fb;
    -header-bg: #f3f6fb;
    -border-color:#e9ecf1;
    -primary: #9dbce3;
    -primary-hover: #7798c2;
    -secondary: #e2dcf2;
    -secondary-hover: #cec6e3;
    -text: #060a10;
    -graytext: #81868d;
    -graybg: #e5eaf1;
    -focus-col: #0077ff;
    -error-col: #c9435c;

}

.backgroundAnchorpane {
    -fx-background-color: -bg;
}

.navbar {
    -fx-background-color: -header-bg;
    -fx-border-color: -border-color;
    -fx-border-width: 0 0 1 0;
}


.titleFont {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 42;
    -fx-fill: linear-gradient(from 0.0% 100.0% to 100.0% 100.0%, #9dbce3 0.0%, #a894da 100.0%);
}

.labelFont {
    -fx-font-family: "Microsoft JhengHei UI Light";
    -fx-font-size: 16;
    -fx-fill: -text;
}

.textFont {
    -fx-font-family: "Microsoft JhengHei UI Light";
    -fx-font-size: 13;
    -fx-fill: -text;
}
/*ss stands for startscreen*/
.sstextfield {

    /*-fx-background-color: -fx-text-box-border, -fx-background ;*/
    -fx-background-insets: 0, 0 0 0 0 ;
    -fx-border-radius: 8 0 0 8;
    -fx-background-radius: 8 0 0 8;
    -fx-border-width: 1;
    -fx-background-color: -bg;
    -fx-border-color: -graybg;
    -fx-prompt-text-fill: -graytext;
    -fx-fill: -text;
    -fx-effect: innershadow(gaussian, #e0e4e7, 6, .5, 0, 0);
}

.sstextfield:focused {
    -fx-border-color: -focus-col;
    /*-fx-background-color: derive(#62d1d4, 90%);*/
}

.ssbutton {
    -fx-background-color: -primary;
    -fx-border-color: -primary;
    -fx-border-insets: 0, 0 0 0 0;
    -fx-background-insets: 0;
    -fx-border-width: 1;
    -fx-border-radius: 0 8 8 0;
    -fx-background-radius: 0 8 8 0;
    -fx-cursor: hand;
    -fx-text-fill: -text;
}


.ssbutton:hover {
    -fx-border-color: -primary-hover;
    -fx-background-color: -primary-hover;
}

.ssbutton:focused {
    -fx-border-color: -focus-col;

}


/*
sbutton stands for secondary button
I cant use .button as a selector as for some reason all
the buttons have this class by default and the styles get overwritten
*/
.sbutton {
    -fx-background-color: -secondary;
    -fx-border-width: 1;
    -fx-border-color: -secondary;
    -fx-border-insets: 0, 0 0 0 0;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}



.sbutton:hover {
    -fx-border-color: -secondary-hover;
    -fx-background-color: -secondary-hover;
}

.sbutton:focused {
    -fx-border-color: -focus-col;
    /*-fx-background-color: derive(#62d1d4, 60%);*/
}

.errorText {
    -fx-fill: -error-col;
}

.eventCodeScrollPane {
    -fx-background-color: -bg;
    -fx-background: -bg;
    -fx-border-color: -border-color;
    -fx-border-radius: 8;
    -fx-background-radius: 80;
}

.eventCodeVBox {
    /*-fx-background-color: blue;*/
    /*-fx-border-radius: 6;*/
    /*-fx-background-radius: 6;*/
}