.backgroundAnchorpane {
    -fx-background-color: #fcfcf5;
}

.navbar {
    -fx-background-color: #efefe9;
}


.titleFont {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 42;
    -fx-fill: #0d0e04;
}

.labelFont {
    -fx-font-family: "Microsoft JhengHei UI Light";
    -fx-font-size: 16;
    -fx-fill: #0d0e04;
}

.textFont {
    -fx-font-family: "Microsoft JhengHei UI Light";
    -fx-font-size: 13;
    -fx-fill: #0d0e04;
}
/*ss stands for startscreen*/
.sstextfield {

    /*-fx-background-color: -fx-text-box-border, -fx-background ;*/
    -fx-background-insets: 0, 0 0 0 0 ;
    -fx-border-radius: 8 0 0 8;
    -fx-background-radius: 8 0 0 8;
    -fx-background-color: #eff3d2;
    -fx-border-color: #b9cc45;
    -fx-prompt-text-fill: #869432;
    -fx-fill: #0d0e04;
}

.sstextfield:focused {
    -fx-border-color: #62d1d4;
    -fx-background-color: derive(#62d1d4, 90%);
}

.ssbutton {
    -fx-background-color: #e1ef8f;
    -fx-border-color: #b9cc45;
    -fx-border-insets: 0, 0 0 0 0;
    -fx-border-radius: 0 8 8 0;
    -fx-background-radius: 0 8 8 0;
    -fx-cursor: hand;
}

.ssbutton:focused, .ssbutton:hover {
    -fx-border-color: #62d1d4;
    -fx-background-color: derive(#62d1d4, 60%);
}


/*
sbutton stands for secondary button
I cant use .button as a selector as for some reason all
the buttons have this class by default and the styles get overwritten
*/
.sbutton {
    -fx-background-color: #e3e3d3;
    -fx-border-color: #c0c4a5;
    -fx-border-insets: 0, 0 0 0 0;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.sbutton:focused {
    -fx-border-color: #62d1d4;
    /*-fx-background-color: derive(#62d1d4, 60%);*/
}

.sbutton:hover {
    -fx-border-color: #62d1d4;
    -fx-background-color: derive(#62d1d4, 60%);
}

.errorText {
    -fx-fill: #f13b3b;
}

.eventCodeScrollPane {
    -fx-background-color: #fcfcf5;
    -fx-background: #fcfcf5;
    -fx-border-color: #e3e3d3;
    -fx-border-radius: 8;
    -fx-background-radius: 80;
}

.eventCodeVBox {
    /*-fx-background-color: blue;*/
    /*-fx-border-radius: 6;*/
    /*-fx-background-radius: 6;*/
}